# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# Env file
.env

# Dataset
paper2fig2026/*

# Experiment
experiments/*

!paper2fig2026/metadata/*

paper2fig2026/analysis/embeddings/embeddings.npy
 paper2fig2026/analysis/faiss/index.faiss

